* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background: #fafafa;
}

/* @tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind directives */

/* navbar */
.header {
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
li {
  float: right;
}
.nav-login {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  margin: 15px 20px auto;
}
.nav-sign {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  background: #E6A22B;
  margin: 15px 20px auto;
  margin-right: 3em;
  border-radius: 5px;
}
.nav-sign:hover {
  background: #292929;
  color: #E6A22B;
  transition: 0.2s;
}

/* navbar */

/* landing */
.bento-grid {
  margin-top: 5em;
  padding: 20px auto;
}
.journey-hero {
  width: 250px;
  height: auto;
  margin: auto;
}
#landing-card {
  background: #D9D9D9;
  border: none;
}
#quest-card {
  background: #E6A22B;
  border: none;
}
.landing-title {
  font-size: 3em;
  font-family: 'Outfit', sans-serif;
  font-weight: bolder;
  margin-bottom: 1em;
}
.quest-title {
  font-size: 2.2em;
  font-family: 'Outfit', sans-serif;
  font-weight: bolder;
  margin-top: 1.5em;
  margin-bottom: 3em;
}
.comp-title {
  font-size: 2em;
  font-family: 'Outfit', sans-serif;
  font-weight: bolder;
}
.comp-text {
  margin-bottom: 10em;
}
/* landing */