* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background: #fafafa;
}

/* @tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind directives */

/* navbar */
.header {
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
li {
  float: right;
}
.nav-login {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  margin: 15px 20px auto;
}
.nav-sign {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  background: #E6A22B;
  margin: 15px 20px auto;
  margin-right: 3em;
  border-radius: 5px;
}
.nav-sign:hover {
  background: #292929;
  color: #E6A22B;
  transition: 0.2s;
}

/* navbar */