body {
  margin: 0;
  display: flex;
  place-items: center;
  background: #fafafa;
  min-width: 320px;
  min-height: 100vh;
}

/* @tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind directives */

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 1em;
}
li {
  float: right;
}
.nav-login {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  margin: 15px 20px auto;
}
.nav-sign {
  color: #292929;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  background: #E6A22B;
  margin: 15px 20px auto;
  margin-right: 3em;
  border-radius: 5px;
}
.nav-sign:hover {
  background: #292929;
  color: #E6A22B;
  transition: 0.2s;
}

/* navbar */